<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.projectKepler.persistence.mybatis.mappers.AcudienteMapper">
    <select parameterType="map" id="loadAllAcudientes" resultMap="AcudienteResult"> 
        select
            nombre ,
            correo 
        
            

        
        FROM  Acudiente ;
    </select>
    
    <resultMap type='Acudiente' id='AcudienteResult' >
        <id property='correo' column='correo'/> 
        <result property='nombre' column='nombre'/>
        
    </resultMap>
    
    
</mapper>