<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.projectkepler.persistence.mybatis.mappers.EstudianteMapper">
    
    <select  parameterType="map" id="loadEstudianteById" resultMap="EstudianteResult"> 
        select 
            e.codigo,
            e.nombre,
            e.asignaturas,
            e.versionPlanDeEstudio,
            e.numeroMatriculas,
            e.correo,
            e.programaAcademico,
            
            s.numero as Solicitud_numero,
            s.fecha as Solicitud_fecha,
            s.justificacion as Solicitud_justificacion,
            s.impacto as Solicitud_impacto,
            s.proyeccion as Solicitud_proyeccion,
            s.comentarios as Solicitud_comentarios,
            s.estado as Solicitud_estado,
            s.acuseRecibo as Solicitud_acuseRecibo,
            s.avalConsejero as Solicitud_avalConsejero,
            s.necesitaAcuseRecibo as Solicitud_necesitaAcuseRecibo,
            s.asignatura_nemonico as Solicitud_asignatura_nemonico,
        
            asi.nemonico as Asignatura_nemonico,
            asi.nombre as Asignatura_nombre
        
        FROM  Estudiante as e left join Solicitud as s on s.Estudiante_codigo=e.codigo left join Asignatura as asi on asi.nemonico=s.asignatura_nemonico
        WHERE e.codigo=#{codigo};
    </select>
    
    <select parameterType="map" id="consultRequest" resultMap="SolicitudResult">
        select *
        FROM Estudiante as e LEFT JOIN ConsejeroAcademico as c on c.codigo=e.ConsejeroAcademico_codigo LEFT JOIN Solicitud as s on e.codigo=s.Estudiante_codigo
        WHERE c.correo=#{correo}
        ORDER BY s.estado DESC,s.fecha
    </select>
    
    <select parameterType="map" id="consultStudentByEmail" resultMap="EstudianteResult">
        select *        
        FROM  Estudiante
        WHERE correo=#{correo};
    </select>
    
    <select parameterType="map" id="consultStudentByRequest" resultMap="EstudianteResult">
        select 
            e.codigo,
            e.nombre,
            e.asignaturas,
            e.versionPlanDeEstudio,
            e.numeroMatriculas,
            e.correo,
            e.programaAcademico,
            
            s.numero as Solicitud_numero,
            s.fecha as Solicitud_fecha,
            s.justificacion as Solicitud_justificacion,
            s.impacto as Solicitud_impacto,
            s.proyeccion as Solicitud_proyeccion,
            s.comentarios as Solicitud_comentarios,
            s.estado as Solicitud_estado,
            s.acuseRecibo as Solicitud_acuseRecibo,
            s.avalConsejero as Solicitud_avalConsejero,
            s.necesitaAcuseRecibo as Solicitud_necesitaAcuseRecibo,
            s.asignatura_nemonico as Solicitud_asignatura_nemonico,
        
            asi.nemonico as Asignatura_nemonico,
            asi.nombre as Asignatura_nombre
        FROM Estudiante as e LEFT JOIN Solicitud as s on e.codigo=s.Estudiante_codigo LEFT JOIN Asignatura as asi on asi.nemonico=s.Asignatura_nemonico
        WHERE s.numero=#{codigo}
    </select>
    
    <resultMap type="Estudiante" id="EstudianteResult" >
        <id property="codigo" column="codigo"/> 
        <result property="nombre" column="nombre"/>
        <result property="asignaturas" column="asignaturas"/>
        <result property="versionPlanDeEstudio" column="versionPlanDeEstudio" />
        <result property="numeroMatriculas" column="numeroMatriculas"/>
        <result property="correo" column="correo"/>
        <result property="programaAcademico" column="programaAcademico"/>
        <collection property="solicitudes" ofType="Solicitud" columnPrefix="Solicitud_" resultMap="SolicitudResult"/>
    </resultMap>
    
    <resultMap type="Solicitud" id="SolicitudResult" >
        <id property="numero" column="numero"/> 
        <result property="fecha" column="fecha"/>
        <result property="justificacion" column="justificacion"/>
        <result property="impacto" column="impacto"/>
        <result property="proyeccion" column="proyeccion"/>
        <result property="comentarios" column="comentarios"/>
        <result property="estado" column="estado"/>
        <result property="acuseRecibo" column="AcuseRecibo"/>
        <result property="avalConsejero" column="avalConsejero"/>
        <result property="necesitaAcuseRecibo" column="necesitaAcuseRecibo"/>
        <association property="asignatura" javaType="CourseStudent" columnPrefix="Asignatura_" resultMap="AsignaturaResult" />
    </resultMap>
    
    <resultMap type="CourseStudent" id="AsignaturaResult" >
        <id property="nemonico" column="nemonico"/> 
        <result property="nombre" column="nombre"/>
    </resultMap>
    
    
    
</mapper>