<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.projectKepler.persistence.mybatis.mappers.EstudianteMapper">
    <select parameterType="map" id="loadAllEstudiantes" resultMap="EstudianteResult"> 
        select
            c.nombre,
            c.codigo,
        
            e.codigo as Estudiante_codigo,
            e.nombre as Estudiante_nombre,
            e.programa as Estudiante_programa,
            e.numeroMatriculas as Estudiante_numeroMatriculas,
            e.correo as Estudiante_correo,
            e.ConsejeroAcademico_codigo as Estudiante_ConsejeroAcademico_codigo,
            e.Acudiente_correo as Estudiante_Acudiente_correo,
            e.CoordinadorCancelaciones_codigo as Estudiante_CoordinadorCancelaciones_codigo,

            s.numero as Solicitud_numero,
            s.justificacion as Solicitud_justificacion,
            s.impacto as Solicitud_impacto,
            s.proyeccion as Solicitud_proyeccion,
            s.comentarios as Solicitud_comentarios,
            s.estado as Solicitud_estado,
            s.acuseRecibo as Solicitud_acuseRecibo,
            s.Asignatura_Cancelar as Solicitud_Asignatura_Cancelar,
            s.avalConsejero as Solicitud_avalConsejero, 
            s.Estudiante_codigo as Solicitud_Estudiante_codigo,
        
        
            a.nemonico as Asignatura_nemonico,
            a.nombre as Asignatura_nombre,
            a.programa as Asignatura_programa,
            a.cancelada as Asignatura_cancelada,
        
            ac.nombre as Acudiente_nombre,
            ac.correo as Acudiente_correo,
        
            co.nombre as Coodinador_nombre,
            co.codigo as Coodinador_codigo
        
        FROM  Estudiante as e left join Solicitud as s on s.Estudiante_codigo=e.codigo left join Asignatura as a on a.nemonico=s.Asignatura_Cancelar left join Acudiente as ac on ac.correo=Acudiente_correo left join CoordinadorCancelaciones as co on co.codigo=e.CoordinadorCancelaciones_codigo left join ConsejeroAcademico as c on e.ConsejeroAcademico_codigo=c.codigo ;
    </select>
    
    <select parameterType="map" id="loadPrograma" resultType="String"> 
        select
            programa
        FROM  Estudiante
        WHERE codigo=#{codigo};
    </select>
    
    <resultMap type='Estudiante' id='EstudianteResult' >
        <id property='codigo' column='codigo'/> 
        <result property='nombre' column='nombre'/>
        <result property='numeroMatriculas' column='numeroMatriculas'/>
        <result property='correo' column='correo'/>
        <result property='programa' column='programa'/>
        <association property="acudiente" javaType="Acudiente" columnPrefix="Acudiente_" resultMap="AcudienteResult" />
        <collection property="solicitudes" ofType="Solicitud" columnPrefix="Solicitud_" resultMap="SolicitudResult"/> 
    </resultMap>
    
    <resultMap type='Solicitud' id='SolicitudResult' >
        <id property='numero' column='numero'/> 
        <result property='justificacion' column='justificacion'/>
        <result property='impacto' column='impacto'/>
        <result property='proyeccion' column='proyeccion'/>
        <result property='comentariosConsejero' column='comentarios'/>
        <result property='estado' column='estado'/>
        <result property='acuseRecibo' column='AcuseRecibo'/>
        <result property='avalConsejero' column='avalConsejero'/>
        <association property="asignatura" javaType="Asignatura" columnPrefix="Asignatura_" resultMap="AsignaturaResult" />
        
    </resultMap>
    
    <resultMap type='Asignatura' id='AsignaturaResult' >
        <id property='nemonico' column='nemonico'/> 
        <result property='nombre' column='nombre'/>
        <result property='programa' column='programa'/>
        <result property='numCancelaciones' column='cancelada'/>
    </resultMap>
    
    <resultMap type='Acudiente' id='AcudienteResult' >
        <id property='correo' column='correo'/> 
        <result property='nombre' column='nombre'/>
    </resultMap>
    
    <resultMap type='ConsejeroAcademico' id='ConsejeroResult' >
        <id property='codigo' column='codigo'/> 
        <result property='nombre' column='nombre'/>
    </resultMap>
    
    <resultMap type='CoordinadorCancelaciones' id='CoordinadorResult' >
        <id property='codigo' column='codigo'/> 
        <result property='nombre' column='nombre'/>
    </resultMap>
    
    
</mapper>