<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.projectkepler.persistence.mybatis.mappers.SolicitudMapper">
    
    <select  parameterType="map" id="cargarSolicitudes" resultMap="SolicitudResult"> 
        select 
        
            s.numero,
            s.fecha,
            s.justificacion,
            s.comentarios,
            s.estado,
            s.acuseRecibo,
            s.avalConsejero,
            s.necesitaAcuseRecibo,
        
            asi.nemonico as Asignatura_nemonico,
            asi.nombre as Asignatura_nombre
        
        FROM Solicitud as s left join Asignatura as asi on asi.nemonico=s.asignatura_nemonico

    </select>
    
    <select  parameterType="map" id="cargarSolicitud" resultMap="SolicitudResult"> 
        select 
        
            s.numero,
            s.fecha,
            s.justificacion,
            s.comentarios,
            s.estado,
            s.acuseRecibo,
            s.avalConsejero,
            s.necesitaAcuseRecibo,
        
            asi.nemonico as Asignatura_nemonico,
            asi.nombre as Asignatura_nombre
        
        FROM Solicitud as s left join Asignatura as asi on asi.nemonico=s.asignatura_nemonico
        WHERE s.numero=#{numero}

    </select>
    
    <select parameterType="map" id="loadCoursesById" resultType="CourseStudent">
        select 
            asi.nemonico,
            asi.nombre
        FROM  Estudiante as e left join Solicitud as s on s.Estudiante_codigo=e.codigo left join Asignatura as asi on asi.nemonico=s.asignatura_nemonico
        WHERE e.codigo=#{codigo} AND numero IS NOT NULL
    </select>
    
    <insert id="updateJustification" > 
        INSERT INTO Solicitud (numero,fecha,justificacion,comentarios,estado,acuseRecibo,avalConsejero,Estudiante_codigo,necesitaAcuseRecibo,Asignatura_nemonico)
        values (#{numero},#{fecha},#{justificacion},'','No tramitada',null,null,#{codigo},#{acuse},#{materia})

    </insert>
    
    <update id="updateComentariosSolicitud"> 
        UPDATE Solicitud SET comentarios = #{comentarios}
        WHERE numero=#{numero};
    </update>    
    
    <select parameterType="map" id="consultRequestByStudentSubject"  resultMap="SolicitudResult">
        select     
            s.numero,
            s.fecha,
            s.justificacion,
            s.comentarios,
            s.estado,
            s.acuseRecibo,
            s.avalConsejero,
            s.necesitaAcuseRecibo,
            s.asignatura_nemonico,
        
            asi.nemonico as Asignatura_nemonico,
            asi.nombre as Asignatura_nombre
        FROM Estudiante as e LEFT JOIN Solicitud as s on e.codigo=s.Estudiante_codigo LEFT JOIN Asignatura as asi on asi.nemonico=s.Asignatura_nemonico
        WHERE e.codigo=#{codigo} AND s.asignatura_nemonico=#{nem}
    </select>
    
    <update parameterType="map" id="updateStateRequest" >
        update Solicitud set
            estado=#{estado}
        WHERE numero=#{numero}
    </update>
    
    <update parameterType="map" id="actualizarAcuseSolicitud" >
        update Solicitud set
            acuseRecibo=#{acuse}
        WHERE numero=#{numero}
    </update>
    
    <select parameterType="map" id="consultCanceledSubjectsByStudent" resultType="CourseStudent">
        select             
            asi.nemonico,
            asi.nombre
        FROM Estudiante as e LEFT JOIN Solicitud as s on e.codigo=s.Estudiante_codigo LEFT JOIN Asignatura as asi on asi.nemonico=s.Asignatura_nemonico
        WHERE e.codigo=#{codigo} AND s.estado='aceptada'
    </select>
    
    <select parameterType="map" id="consultRequestsByCoordinator" resultMap="SolicitudResult" >
        select 
            s.numero,
            s.fecha,
            s.justificacion,
            s.comentarios,
            s.estado,
            s.acuseRecibo,
            s.avalConsejero,
            s.necesitaAcuseRecibo,
            s.asignatura_nemonico,
        
            asi.nemonico as Asignatura_nemonico,
            asi.nombre as Asignatura_nombre
        
        FROM Estudiante as e LEFT JOIN CoordinadorCancelaciones as c on c.codigo=e.CoordinadorCancelaciones_codigo JOIN Solicitud as s on s.Estudiante_codigo=e.codigo LEFT JOIN Asignatura as asi on asi.nemonico=s.asignatura_nemonico
        WHERE c.codigo=#{codigo}
    </select>
        
    <resultMap type="Solicitud" id="SolicitudResult" >
        <id property="numero" column="numero"/> 
        <result property="fecha" column="fecha"/>
        <result property="justificacion" column="justificacion"/>
        <result property="comentarios" column="comentarios"/>
        <result property="estado" column="estado"/>
        <result property="acuseRecibo" column="AcuseRecibo"/>
        <result property="avalConsejero" column="avalConsejero"/>
        <result property="necesitaAcuseRecibo" column="necesitaAcuseRecibo"/>
        <association property="asignatura"  columnPrefix="Asignatura_" resultMap="AsignaturaResult" />
    </resultMap>
    
    <resultMap type="CourseStudent" id="AsignaturaResult" >
        <id property="nemonico" column="nemonico"/> 
        <result property="nombre" column="nombre"/>
    </resultMap>
    
    
</mapper>