<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.projectkepler.persistence.mybatis.mappers.UniversidadMapper">
    
    <select parameterType="map" id="loadSyllabusByStudent" resultMap="PlanDeEstudioResult">
        select *
        FROM Estudiante as e left join PlanDeEstudios as pl on pl.ProgramaAcademico=e.programaAcademico
        WHERE e.codigo=#{codigo} AND e.versionPlanDeEstudio=pl.id
    </select>
    
    <update parameterType="map" id="updateCredits">
        update Universidad set
            totalCredits=#{creditos}
    </update>
    
    <select parameterType="map" id="consultUniversity" resultMap="UniversidadResult">
        select totalCredits
        FROM Universidad
    </select>
    
    <select parameterType="map" id="consultarProgramasAcademicos" resultMap="ProgramaResult" >
        select DISTINCT 
            pr.nombre,
        
            pl.id as PlanDeEstudio_id,
            pl.ProgramaAcademico as PlanDeEstudio_ProgramaAcademico,
            pl.contenido as PlanDeEstudio_contenido,
            pl.totalCreditos as PlanDeEstudio_totalCreditos
        FROM ProgramaAcademico as pr left join PlanDeEstudios as pl on pr.nombre=pl.ProgramaAcademico 
    </select>
    
    <select parameterType="map" id="consultarProgramaAcademicoPorNombre" resultMap="ProgramaResult" >
        select DISTINCT 
            pr.nombre,
        
            pl.id as PlanDeEstudio_id,
            pl.ProgramaAcademico as PlanDeEstudio_ProgramaAcademico,
            pl.contenido as PlanDeEstudio_contenido,
            pl.totalCreditos as PlanDeEstudio_totalCreditos
        FROM ProgramaAcademico as pr left join PlanDeEstudios as pl on pr.nombre=pl.ProgramaAcademico 
        WHERE pr.nombre=#{nombre}
    </select>
    
    <select parameterType="map" id="consultarPlanDeEstudios" resultMap="PlanDeEstudioResult" >  
        select *
        FROM PlanDeEstudios as pl 
        WHERE pl.programaAcademico=#{programa} AND pl.id=#{numero}
    </select> 
    
    <resultMap type="Universidad" id="UniversidadResult">
        <id property="nombre" column="nombre"/>
        <result property="totalCredits" column="totalCredits"/>
        <collection property="programas" ofType="ProgramaAcademico" columnPrefix="ProgramaAcademico_" resultMap="ProgramaResult"/>
    </resultMap>
    
    <resultMap type="ProgramaAcademico" id="ProgramaResult">
        <id property="nombre" column="nombre"/>
        <collection property="planesDeEstudio" ofType="PlanDeEstudios" columnPrefix="PlanDeEstudio_" resultMap="PlanDeEstudioResult"/>
    </resultMap>
    
    <resultMap type="PlanDeEstudios" id="PlanDeEstudioResult">
        <id property="id" column="id"/>
        <result property="contenido" column="contenido"/>
        <result property="totalCreditos" column="totalCreditos"/>
    </resultMap>
    
</mapper>
