<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='com.projectKepler.services.entities.ConsejeroAcademico' alias='ConsejeroAcademico'/>
        <typeAlias type='com.projectKepler.services.entities.CoordinadorCancelaciones' alias='CoordinadorCancelaciones'/>
        <typeAlias type='com.projectKepler.services.entities.Acudiente' alias='Acudiente'/>
        <typeAlias type='com.projectKepler.services.entities.Estudiante' alias='Estudiante'/>
        <typeAlias type='com.projectKepler.services.entities.CourseStudent' alias='CourseStudent'/>
        <typeAlias type='com.projectKepler.services.entities.Solicitud' alias='Solicitud'/>
        <typeAlias type='com.projectKepler.services.entities.ProgramaAcademico' alias='ProgramaAcademico'/>
        <typeAlias type='com.projectKepler.services.entities.PlanDeEstudios' alias='PlanDeEstudios'/>
        <typeAlias type='com.projectKepler.services.entities.Universidad' alias='Universidad'/>
    </typeAliases>
                         
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-54-235-213-202.compute-1.amazonaws.com:5432/dcqerg6si5l0l?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/> 
                <property name="username" value="etsxevwifkclti" />
                <property name="password" value="f495442a1deed06680adb800a73407c475fb6febc30c5fc5b8ed123e7c8e195b" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>    
        <mapper resource="mappers/EstudianteMapper.xml"></mapper>    

    </mappers> 
        
        
</configuration>
