<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='com.projectKepler.services.entities.ConsejeroAcademico' alias='ConsejeroAcademico'/>
        <typeAlias type='com.projectKepler.services.entities.CoordinadorCancelaciones' alias='CoordinadorCancelaciones'/>
        <typeAlias type='com.projectKepler.services.entities.Acudiente' alias='Acudiente'/>
        <typeAlias type='com.projectKepler.services.entities.Estudiante' alias='Estudiante'/>
    </typeAliases>             
    
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:file:./target/db/testdb;MODE=MYSQL" />
                <property name="username" value="anonymous" />
                <property name="password" value="anonymous" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/ConsejeroMapper.xml"></mapper>       
        <mapper resource="mappers/CoordinadorMapper.xml"></mapper>     
        <mapper resource="mappers/Acudiente.xml"></mapper>     
        <mapper resource="mappers/Estudiante.xml"></mapper> 
    </mappers> 
        
</configuration><?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    
</root>
