<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='com.projectKepler.services.entities.ConsejeroAcademico' alias='ConsejeroAcademico'/>
        <typeAlias type='com.projectKepler.services.entities.CoordinadorCancelaciones' alias='CoordinadorCancelaciones'/>
        <typeAlias type='com.projectKepler.services.entities.Acudiente' alias='Acudiente'/>
        <typeAlias type='com.projectKepler.services.entities.Estudiante' alias='Estudiante'/>
        <typeAlias type='com.projectKepler.services.entities.Asignatura' alias='Asignatura'/>
        <typeAlias type='com.projectKepler.services.entities.Solicitud' alias='Solicitud'/>
        <typeAlias type='com.projectKepler.services.entities.ProgramaAcademico' alias='ProgramaAcademico'/>
        <typeAlias type='com.projectKepler.services.entities.PlanDeEstudios' alias='PlanDeEstudios'/>
    </typeAliases>
                         
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-54-243-47-252.compute-1.amazonaws.com:5432/d5aurqqhq47njt"/> 
                <property name="username" value="feuczfssnvxjrv" />
                <property name="password" value="f0168e287755f42eeee58cf8d2888d88d2c443c7b08491c44d0f6a6cff43f205" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>    
        <mapper resource="mappers/EstudianteMapper.xml"></mapper>    

    </mappers> 
        
        
</configuration>
